<!DOCTYPE html>
<html lang="en" style="overflow: hidden;  min-height: 1px;height: 100%;">
<head>
	<meta charset="UTF-8"/>
	<title>Uxl Virtualizer</title>
	<script src="/demo/settings.js"></script>
	<link rel="import" href="../node_modules/@webcomponents/shadycss/apply-shim.html">
	<link rel="import" href="../node_modules/@polymer/polymer/lib/elements/custom-style.js">
	<script>
        document.addEventListener(
            "WebComponentsReady",
            function componentsReady() {
                document.removeEventListener("WebComponentsReady", componentsReady, false);
                var script = document.createElement("script");
                script.async = true;
                script.src = '<%= htmlWebpackPlugin.files.chunks["main"].entry %>';
                var refScript = document.body.getElementsByTagName("script")[0];
                refScript.parentNode.insertBefore(script, refScript);
            },
            false
        );
	</script>
</head>
<body style="  min-height: 1px;height: 100%;">
<script defer src="<%= htmlWebpackPlugin.options.paths.webcomponents %>"></script>
<h1>Uxl Virtualizer</h1>
<div style="  min-height: 1px; height: 100%;" class="content"></div>
</body>
</html>
